﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--loading effect-->
<div class="loading justify-content-center align-items-center" id="loading">
    <div class="lds-heart"><div></div></div>
</div>

<link rel="stylesheet" href="@Url.Content("~/css/about.css")">
<link rel="stylesheet" href="@Url.Content("~/css/careers.css")">
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-aboutus text-center">
    <div class="container">
        <h1 class="wow fadeInUp shadow-1" data-wow-delay="0.1s">About Us</h1>
        <p>
            @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "text-light" }) >> @Html.ActionLink("About Us", "AboutUs", "AboutUs", new object { }, new { @class = "text-light" })
        </p>
    </div>
    <!--/end container-->
</div>
<!--====================================================
                        Creating awareness
======================================================-->
<section id="about-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-p1-cont">
                    <h1>Creating Awareness  </h1>
                    <p>
                        There are a significant number of sexual offences committed against women, children and other vulnerable persons including persons with a cognitive impairment or mental illness.
                        Sexual offenders are not usually random and are commonly known to their victim. Lastly, sexual offences often occur in circumstances where there is unlikely to be any physical signs of an offence having occurred.
                    </p>
                    <p>We aim to create awareness among family members about Sexual Assaults. A significant degree of information on this website is highly sensitive. Therefore, as a responsible platform it is necessary to provide a warning that the content on this site may trigger some emotional reaction. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p1-img">
                    <img src="~/img/aboutUs_1.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================
                       Our Services
======================================================-->
<div class="overlay-career-p3"></div>
<section id="career-p3">
    <div class="container-fluide">
        <div class="row career-p3-title">
            <div class="col-md-12">
                <h3 class="text-center">Our Services</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="career-p3-cont text-center">
                    <i class="fa fa-briefcase"></i>
                    <h5>Legal Support</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="career-p3-cont text-center">
                    <i class="fa fa-heartbeat"></i>
                    <h5>Emotional Support</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="career-p3-cont text-center">
                    <i class="fa fa-check-circle"></i>
                    <h5>Legal Terms</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="career-p3-cont text-center">
                    <i class="fa fa-hospital-o"></i>
                    <h5>Hospitals</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="career-p3-cont text-center">
                    <i class="fa fa-building-o"></i>
                    <h5>Agencies</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="career-p3-cont text-center">
                    <i class="fa fa-gavel"></i>
                    <h5>Courts</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================================================
                     ABOUT-P3
======================================================-->
<section id="story" class="about-p3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="story-desc">
                    <h3>What we do?</h3>
                    <div class="heading-border-light"></div>
                    <p>
                        careHer helps you and your family build a reliable and safe future.
                        We provide counselling to families struggling with sexual abuse. We live in an
                        extremely connected world which makes your children prone to sexual predators and abusers.
                        A sexual abuse can range from a non consentual touch to rape.

                        Our research shows more than 20% of children are exposed to sexual assaults in their early years.
                        The only way we can try to help our children is by talking to them and increase awareness
                        around it amound our community.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="story-himg">
                    <h3>Who are we?</h3>
                    <div class="heading-border-light"></div>
                    <p>
                        We, at careHer thrives on providing legal and Emotional support to families. We are passionate
                        about our work and want your children to be raised in a safe environment. We believe
                        creating awareness about sexual assault is one small step to safeguarding children.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>
