﻿@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--loading effect-->
<div class="loading justify-content-center align-items-center" id="loading">
    <div class="lds-heart"><div></div></div>
</div>

<link rel="stylesheet" href="@Url.Content("~/css/contact.css")">
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-contactus text-center">
    <div class="container">
        <h1>Contact Us</h1>
        <p>
            @Html.ActionLink("About Us", "AboutUs", "AboutUs", new object { }, new { @class = "text-light" }) >> @Html.ActionLink("Contact Us", "ContactUs", "AboutUs", new object { }, new { @class = "text-light" })
        </p>
    </div><!--/end container-->
</div>
<!--====================================================
                        CONTACT-P1
======================================================-->
<section id="contact-p1" class="contact-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-p1-cont">
                    <h3>We are team Holy Shot..</h3>
                    <div class="heading-border-light"></div>
                    <p>Our team comprises of four individuals who are decidated in providing best of features for our users. Contact us if you have any queries via the form below.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-p1-cont2">
                    <address class="address-details-f">                        
                        <i class="fa fa-envelope"></i> Email: <a href="mailto:teamholyshot@gmail.com" class="">TeamHolyShot@gmail.com</a>
                    </address>
                    <ul class="list-inline social-icon-f top-data">
                        <li><a href="https://www.facebook.com/teamholy.shot.5" target="_empty"><i class="fa top-social fa-facebook" style="height: 35px; width:35px; line-height: 35px;"></i></a></li>
                        <li><a href="https://twitter.com/teamholyshot103" target="_empty"><i class="fa top-social fa-twitter" style="height: 35px; width:35px; line-height: 35px;"></i></a></li>
                        <li><a href="https://plus.google.com/u/0/105013436169094566334" target="_empty"><i class="fa top-social fa-google-plus" style="height: 35px; width:35px; line-height: 35px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================
                        CONTACT-P2
======================================================-->


<service class="contact-p2" id="contact-p2">
    <div class="container">
        <div class="row con-form">
            <div class="col-md-4">
                <input type="text" name="full-name" placeholder="Full Name" class="form-control" id="name">
            </div>
            <div class="col-md-4">
                <input type="text" name="subject" placeholder="Subject" class="form-control" id="sub">
            </div>
            <div class="col-md-12"><textarea id="content"></textarea></div>
            <div class="col-md-12 sub-but"><button class="btn btn-general btn-white mb-5" role="button" id="submit">Send</button></div>
            <span style="color:greenyellow">@ViewBag.Message</span>
        </div>
    </div>
</service>

<script src="@Url.Content("~/js/contactUs.js")"></script>

<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>