﻿
@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--loading effect-->
<div class="loading justify-content-center align-items-center" id="loading">
    <div class="lds-heart"><div></div></div>
</div>

<link rel="stylesheet" href="@Url.Content("~/css/faq.css")">

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-faq text-center">
    <div class="container">
        <h1>Our Most Frequently asked Questions</h1>
        <p>
            @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "text-light" }) >> @Html.ActionLink("FAQ", "faq", "AboutUs", new object { }, new { @class = "text-light" })
        </p>
    </div><!--/end container-->
</div>
<!--====================================================
                      FAQ-P1
======================================================-->
<section id="faq-p1" class="team-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-p1-cont">
                    <div class="service-h-tab">
                        <nav class="nav nav-tabs" id="myTab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">FAQs</a>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            @foreach (var item in ViewBag.faqlist)
                            {
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="toggle">
                                        <div class="toggle-title ">
                                            <h3>
                                                <i></i>
                                                <span class="title-name">@item.F_question</span>
                                            </h3>
                                        </div>
                                        <div class="toggle-inner">
                                            <p>@item.F_answer</p>
                                        </div>
                                    </div>

                                </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    if (jQuery(".toggle .toggle-title").hasClass('active')) {
        jQuery(".toggle .toggle-title.active").closest('.toggle').find('.toggle-inner').show();
    }
    jQuery(".toggle .toggle-title").click(function () {
        if (jQuery(this).hasClass('active')) {
            jQuery(this).removeClass("active").closest('.toggle').find('.toggle-inner').slideUp(200);
        }
        else {
            jQuery(this).addClass("active").closest('.toggle').find('.toggle-inner').slideDown(200);
        }
    });
</script>

<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>