﻿
body {
    margin: 0;
    font-family: "microsoft yahei";
    font-size: 13px;
    line-height: 1.5;
    background: #fff;
}

.wrap {
    margin-top: 40px;
}

.tabs {
    height: 40px;
}

    .tabs a {
        display: block;
        float: left;
        width: 33.33%;
        color: #000000;
        text-align: center;
        background: #eee;
        line-height: 40px;
        font-size: 16px;
        text-decoration: none;
    }

        .tabs a.active {
            color: #fff;
            background: #333;
            border-radius: 5px 5px 0px 0px;
        }

.swiper-container {
    background: #fff;
    height: 200px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    border-top: 0;
}

.swiper-slide {
    height: 250px;
    width: 100%;
    background: none;
    color: #000000;
}

.content-slide {
    padding: 40px;
}

    .content-slide p {
        text-indent: 2em;
        line-height: 1.9;
    }

#pagetitle {
    margin-top: 5%;
    margin-left: 36%;
}

#selectiongroup1 {
    margin-left: 12%;
}

#selectiongroup2 {
    margin-top: 5%;
    margin-left: 12%;
}

#tipbutton {
    margin-top: 5%;
    margin-left: 65%;
    height: 36px;
}



.selection {
    margin-left: 1%;
}

.selecttitle {
    margin-left: 10px;
}

#agencygroup {
    margin-left: 33%;
}

#searchagency {
    margin-left: 17%;
    margin-top: 40px;
}

#courtgroup {
    margin-left: 33%;
}

#searchcourt {
    margin-left: 17%;
    margin-top: 40px;
}

.getbutton {
    border: none;
    background: #00ffff;
    border-style: unset;
    height: 25px;
    font-style: inherit;
    border-radius: 8px;
    display: inline-block;
    color: darkgrey;
    margin-left: 0px;
}

.form-control {
    width: 350px;
}

