﻿/*======================== Font style Css ===============================*/
/*======================== Font-weight Css ===============================*/
/*======================== Font-Color Css ===============================*/
/*======================== Font-Family Css ===============================*/
/*======================== Position Css ===============================*/
/*======================== background Color Css ===============================*/
/*======================== Gradient Css ===============================*/
/*======================== Opacity Css ===============================*/
/*======================== background-image-maker Css ===============================*/
/*======================== Border Rounded-Circle Css===============================*/
/*======================== Border Size Css===============================*/
/*======================== Border Color Css===============================*/
/*======================== Margin Minus Css===============================*/
/*======================== line-height Css===============================*/
/*======================== Letter Spacing Css===============================*/
/*======================== Z-index Css===============================*/
/*======================== Image Hover Effect Zoom Css===============================*/
/*======================== Shadow Css Css===============================*/
/*======================== Page Custom Css Css===============================*/
/*================header Fixed Scroll======================*/
/*======================== Section & Selection Css ===============================*/
/*======================== Pagination  Css ===============================*/
/*======================== Form Css ===============================*/
/*======================== Buttons Css ===============================*/
/*======================== Buttons Size Css===============================*/
/*======================== Page Inner Tabs Css===============================*/
/*======================== Form-Icon Css ===============================*/
/*======================== Categories Css ===============================*/
/*======================== Visited Places Css ===============================*/
/*======================== Icon-box Css ===============================*/
/*======================== Price Table Css ===============================*/
/*======================== Categories Css ===============================*/
/*======================== Masonry Css ===============================*/
/*=============== Back To Top Button =======================*/
/*=============== Left Sidebar =======================*/
/*=============== Google Map =======================*/
/*=============== Listing Shorting =======================*/
/*=============== Listing-Explore-Place-Profile Css =======================*/
/*=============== Profile Page Css =======================*/
/*=============== Reviews Page Css =======================*/
/*=============== Explore Event Page Css =======================*/
/*=============== Calendar =======================*/
/*===============Blog Page Css=======================*/
/*=============== Blog Listing Page Css=======================*/
/*=============== Blog Single Page Css=======================*/
/*=============== Faq Page Css=======================*/
/*=============== Error Page Css=======================*/
/*=============== Coming Soon Page Css=======================*/
/*-----------------------Font Color Variable ------------------------------------*/
/*-----------------------Font line-height Variable ------------------------------------*/
/*-----------------------Border Color Variable ------------------------------------*/
/*-----------------------Font Family Variable ------------------------------------*/
/*-----------------------Font Family Import ------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

body {
    background: #fff;
    margin: 0px;
    padding: 0px;
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.75rem;
    word-wrap: break-word;
    direction: rtl;
}

a {
    text-decoration: none;
}

    a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        outline: none;
    }

/*======================== Font style Css ===============================*/
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    margin: 0 0 15px;
    font-family: "Poppins", sans-serif;
    line-height: 1.75rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

.lis-f-14 {
    font-size: 0.875em;
}

.lis-f-20 {
    font-size: 1.250em;
}

/*======================== Font-weight Css ===============================*/
.lis-font-weight-100 {
    font-weight: 100;
}

.lis-font-weight-200 {
    font-weight: 200;
}

.lis-font-weight-300 {
    font-weight: 300;
}

.lis-font-weight-400 {
    font-weight: 400;
}

.lis-font-weight-500 {
    font-weight: 500;
}

.lis-font-weight-600 {
    font-weight: 600;
}

.lis-font-weight-700 {
    font-weight: 700;
}

.lis-font-weight-800 {
    font-weight: 800;
}

.lis-font-weight-900 {
    font-weight: 900;
}

/*======================== Font-Color Css ===============================*/
.lis-primary {
    color: #ff214f !important;
}

.lis-dark {
    color: #222222;
}

.lis-light {
    color: #707070;
}

.lis-light-gold {
    color: #f2b827;
}

.lis-light-green {
    color: #64bc36;
}

/*======================== Font-Family Css ===============================*/
.lis-font-roboto {
    font-family: "Roboto", sans-serif;
}

.lis-font-poppins {
    font-family: "Poppins", sans-serif;
}

/*======================== Position Css ===============================*/
.lis-relative {
    position: relative;
}

.lis-absolute {
    position: absolute;
}

.lis-left-0 {
    left: 0 !important;
}

.lis-right-0 {
    right: 0 !important;
}

.lis-top-0 {
    top: 0 !important;
}

.lis-bottom-0 {
    bottom: 0 !important;
}

.lis-left-10 {
    left: 10px !important;
}

.lis-right-10 {
    right: 10px !important;
}

.lis-top-10 {
    top: 10px !important;
}

.lis-bottom-10 {
    bottom: 10px !important;
}

.lis-left-20 {
    left: 20px;
}

.lis-right-20 {
    right: 20px;
}

.lis-top-20 {
    top: 20px;
}

.lis-bottom-20 {
    bottom: 20px;
}

.lis-left-auto {
    left: auto !important;
}

.lis-right-auto {
    right: auto !important;
}

/*======================== background Color Css ===============================*/
.lis-bg-primary {
    background-color: #ff214f;
}

.lis-bg-light {
    background-color: #f7f7f7;
}

.lis-bg-dark {
    background-color: #222222;
}

.lis-green-light {
    background-color: #64bc36;
}

.lis-bg1 {
    background-color: #bf55ec;
}

.lis-bg2 {
    background-color: #f89406;
}

.lis-bg3 {
    background-color: #7747ff;
}

.lis-bg4 {
    background-color: #f9690e;
}

.lis-bg5 {
    background-color: #27ccab;
}

.lis-bg6 {
    background-color: #f62459;
}

.lis-bg7 {
    background-color: #19b5fe;
}

.lis-bg8 {
    background-color: #f03434;
}

.lis-bg9 {
    background-color: #ffd200;
}

.lis-bg10 {
    background-color: #192026;
}

.lis-bg11 {
    background-color: #3b97b5;
}

.lis-bg12 {
    background-color: #22d754;
}

/*======================== Gradient Css ===============================*/
.lis-grediant:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.grediant-tb:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(17, 17, 17, 0.2) 100%);
}

.grediant-bt:before {
    background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.6) 100%);
}

.grediant-full:before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(17, 17, 17, 0.7) 66%);
}

.grediant-tb-white:before {
    background: linear-gradient(to bottom, white 0%, #f8f8f8 100%);
}

.grediant-tb-light:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(17, 17, 17, 0.1) 100%);
}

.grediant-tb-light2:before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(17, 17, 17, 0.7) 100%);
}

.grediant-bt-dark:before {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.7) 0%, rgba(17, 17, 17, 0.5) 100%);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.overlay {
    background: rgba(17, 17, 17, 0.6);
}

/*======================== Opacity Css ===============================*/
.lis-opacity-90 {
    opacity: .90;
}

.lis-opacity-80 {
    opacity: .80;
}

.lis-opacity-70 {
    opacity: .70;
}

.lis-opacity-60 {
    opacity: .60;
}

.lis-opacity-50 {
    opacity: .50;
}

.lis-opacity-40 {
    opacity: .40;
}

.lis-opacity-30 {
    opacity: .30;
}

.lis-opacity-20 {
    opacity: .20;
}

.lis-opacity-10 {
    opacity: .10;
}

/*======================== background-image-maker Css ===============================*/
.background-image-maker {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #222222;
    z-index: -1;
}

/*======================== Border Rounded-Circle Css===============================*/
.lis-rounded-circle-50 {
    border-radius: 50px;
}

.lis-rounded-bottom {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lis-rounded-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.lis-devider {
    border-bottom: solid 1px #dadada;
}

.lis-brd-right {
    border-right: solid 1px;
}

.lis-brd-left {
    border-left: solid 1px;
}

.lis-brd-top {
    border-top: solid 1px;
}

.lis-brd-bottom {
    border-top: solid 1px;
}

/*======================== Border Size Css===============================*/
.lis-border-width-2 {
    border-width: 2px !important;
}

.lis-border-width-4 {
    border-width: 4px !important;
}

.lis-border-width-6 {
    border-width: 6px !important;
}

.lis-border-width-8 {
    border-width: 8px !important;
}

.lis-border-width-10 {
    border-width: 10px !important;
}

/*======================== Border Color Css===============================*/
.lis-brd-light {
    border-color: #dadada !important;
}

.lis-brd-primary {
    border-color: #ff214f;
}

/*======================== Margin Minus Css===============================*/
.lis-mt-minus-5 {
    margin-top: -5px;
}

.lis-mt-minus-10 {
    margin-top: -10px;
}

.lis-mt-minus-15 {
    margin-top: -15px;
}

.lis-mt-minus-20 {
    margin-top: -20px;
}

.lis-mt-minus-25 {
    margin-top: -25px;
}

.lis-mt-minus-30 {
    margin-top: -30px;
}

.lis-mt-minus-35 {
    margin-top: -35px;
}

.lis-mt-minus-40 {
    margin-top: -40px;
}

.lis-mt-minus-45 {
    margin-top: -45px;
}

.lis-mt-minus-50 {
    margin-top: -50px;
}

.lis-mt-minus-55 {
    margin-top: -55px;
}

.lis-mt-minus-60 {
    margin-top: -60px;
}

.lis-mt-minus-65 {
    margin-top: -65px;
}

.lis-mt-minus-70 {
    margin-top: -70px;
}

.lis-mt-minus-75 {
    margin-top: -75px;
}

.lis-mt-minus-80 {
    margin-top: -80px;
}

.lis-mt-minus-85 {
    margin-top: -85px;
}

.lis-mt-minus-90 {
    margin-top: -90px;
}

.lis-mt-minus-95 {
    margin-top: -95px;
}

.lis-mt-minus-100 {
    margin-top: -100px;
}

/*======================== line-height Css===============================*/
.lis-line-height-0_7 {
    line-height: .7 !important;
}

.lis-line-height-0_8 {
    line-height: .8 !important;
}

.lis-line-height-0_9 {
    line-height: .9 !important;
}

.lis-line-height-1 {
    line-height: 1 !important;
}

.lis-line-height-1_5 {
    line-height: 1.5 !important;
}

.lis-line-height-1_7 {
    line-height: 1.7 !important;
}

.lis-line-height-2 {
    line-height: 2 !important;
}

.lis-line-height-2_3 {
    line-height: 2.4 !important;
}

.lis-line-height-2_5 {
    line-height: 2.5 !important;
}

.lis-line-height-2_7 {
    line-height: 2.7 !important;
}

.lis-line-height-3 {
    line-height: 3 !important;
}

.lis-line-height-3 {
    line-height: 3 !important;
}

.lis-line-height-3_5 {
    line-height: 3.5 !important;
}

.lis-line-height-4 {
    line-height: 4 !important;
}

/*======================== Letter Spacing Css===============================*/
.lis-latter-spacing-2 {
    letter-spacing: 2px;
}

.lis-latter-spacing-4 {
    letter-spacing: 4px;
}

.lis-latter-spacing-6 {
    letter-spacing: 6px;
}

.lis-latter-spacing-8 {
    letter-spacing: 8px;
}

.lis-latter-spacing-10 {
    letter-spacing: 10px;
}

/*======================== Z-index Css===============================*/
.z-index-99 {
    z-index: 99;
}

/*======================== Image Hover Effect Zoom Css===============================*/
.card .modImage {
    overflow: hidden;
    background-color: #242429;
}

    .card .modImage img {
        transition: all 0.55s;
    }

    .card .modImage:hover img {
        transform: scale(1.07);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(17, 17, 17, 0.1) 100%);
    }

.card .grediant-tb-light2:before, .card .grediant-tb-light:before {
    z-index: 1;
}

.card .card-body, .card .lis-icon, .card .hover-text {
    z-index: 999;
}

.card .lis-post-meta {
    z-index: 999;
    position: relative;
}

/*======================== Shadow Css Css===============================*/
.shadow-1 {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}

/*======================== Page Custom Css Css===============================*/
.image-bg:not(.light-bg) .heading h1, .image-bg:not(.light-bg) .heading h2, .image-bg:not(.light-bg) .heading h3, .image-bg:not(.light-bg) .heading h4, .image-bg:not(.light-bg) .heading h5, .image-bg:not(.light-bg) h5.footer-head, .image-bg:not(.light-bg) .error h1, .image-bg:not(.light-bg) .error h2, .image-bg:not(.light-bg) .footer-social a {
    color: #fff;
}

.image-bg:not(.light-bg) .lis-features-box {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #ececec;
    color: #c9c9c9;
}

    .image-bg:not(.light-bg) .lis-features-box h1, .image-bg:not(.light-bg) .lis-features-box h2, .image-bg:not(.light-bg) .lis-features-box h3, .image-bg:not(.light-bg) .lis-features-box h4, .image-bg:not(.light-bg) .lis-features-box h5, .image-bg:not(.light-bg) .lis-features-box h6, .image-bg:not(.light-bg) .lis-features-box i {
        color: #fff;
    }

.image-bg:not(.light-bg) .coming-soon .form-control, .image-bg:not(.light-bg) .coming-soon input::-webkit-input-placeholder, .image-bg:not(.light-bg) .coming-soon textarea::-webkit-input-placeholder {
    background-color: transparent;
    color: #fff;
}

.header .navbar-toggler-icon {
    background-color: #fff !important;
    background-image: none;
}

.header nav.navbar-toggleable-md.navbar-light {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.header nav.navbar-toggleable-md.navbar-light {
    background-color: #000;
}

    .header nav.navbar-toggleable-md.navbar-light .navbar-toggler-right {
        outline: none;
        cursor: pointer;
    }

        .header nav.navbar-toggleable-md.navbar-light .navbar-toggler-right .navbar-toggler-icon {
            width: 22px;
            margin-top: 4px;
            height: 2px;
            display: block;
            background-color: #1e1e1e;
        }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav li.dropdown > .dropdown-menu {
        display: block;
        opacity: 1;
        -webkit-transform: translate(0, 15px);
        transform: translate(0, 15px);
        transition: all 0.15s;
        visibility: hidden;
    }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav li.dropdown:hover > .dropdown-menu {
        visibility: visible;
        -webkit-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav .nav-link {
        font-size: 1em;
        padding: 2em 1.3em;
        color: #c9c9c9;
    }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav .active > .nav-link {
        color: #fff;
    }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav .dropdown-menu > li {
        position: relative;
        border-bottom: solid 1px #dadada;
    }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav .dropdown-menu {
        border-radius: 0px;
        padding: 0px;
        border: none;
        right: auto;
        left: 0;
        margin-top: 0px;
        min-width: 200px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.18);
        top: 100%;
    }

        .header nav.navbar-toggleable-md.navbar-light .navbar-nav .dropdown-menu li a {
            padding: 8px 15px;
            display: block;
            color: #222222;
            font-size: 0.875em;
        }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav .dropdown-submenu > a::after {
        content: "\f0da";
        float: right;
        font: normal normal normal 14px/1 FontAwesome;
        padding-top: 9px;
        font-size: 13px;
    }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav .dropdown-submenu > .dropdown-menu {
        top: 0;
        right: 100%;
    }

.navbar-light .navbar-toggler {
    border: 0px;
}

/*================header Fixed Scroll======================*/
#header-fix.nav-affix .navbar {
    background-color: #000;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-color: #000;
    transition: 0.3s;
}

.header.nav-affix nav.navbar-toggleable-md.navbar-light .navbar-nav .nav-link {
    padding: 1.3em 1.3em;
    transform: translate(0, 0) scale(1);
    transition: 0.3s;
}

.transperant nav.navbar-toggleable-md.navbar-light {
    background: transparent;
}

/*===
    1. Section & Selection Css 
    2. Pagination  Css
    3. Form Css
    4. Buttons Css
    5. Buttons Size Cs
    6. Page Inner Tabs Css
    7. Form-Icon Css  
    8. Categories Css
    9. Visited Places Css 
    10. Icon-box Css
    11. Price Table Css
    12. Categories Css 
    13.  Masonry Css 
    14. Back To Top Button 
    15. Checkbox Css
    16. Google Map
    17. Calendar
    18. Breadcrumb
    19. Accordian
===*/
/*======================== Section & Selection Css ===============================*/
section {
    padding-top: 6.25em;
    padding-bottom: 6.25em;
    position: relative;
}

::selection {
    background-color: #ff214f;
    color: #fff;
}

/*======================== Pagination  Css ===============================*/
.pagination .page-link:hover, .pagination .page-link:focus {
    color: #707070;
    background-color: #f0f0f0;
}

.pagination .page-item.active .page-link {
    color: #707070;
    background-color: #f0f0f0;
    border-color: #dadada;
}

/*======================== Form Css ===============================*/
.form-control {
    height: 51px;
    border-radius: 0px;
    border-color: #dadada;
    color: #707070;
    transition: .2s ease-out;
}

    .form-control:focus {
        border-color: #dadada;
    }

select.form-control:not([size]):not([multiple]) {
    height: 51px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url(../images/arrow.png) no-repeat 4%;
    cursor: pointer;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    transition: all 0.3s ease;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

textarea.form-control {
    height: 115px !important;
    resize: none;
}

/*======================== Buttons Css ===============================*/
.btn {
    color: #fff;
    padding: .5rem 1.3rem;
    font-size: 1rem;
    word-wrap: break-word;
}

    .btn:focus {
        box-shadow: none;
        color: #fff;
    }

.btn-outline-light {
    border-color: #fff;
}

    .btn-outline-light:hover, .btn-outline-light:active {
        background-color: transparent;
    }

.btn-primary {
    background-color: #ff214f;
    border-color: #ff214f;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #ff214f;
        border-color: #ff214f;
    }

.btn-primary-outline {
    background-color: transparent;
    color: #ff214f;
    border-color: #ff214f;
}

    .btn-primary-outline:hover, .btn-primary-outline:focus {
        background-color: #ff214f;
        border-color: #ff214f;
        color: #fff;
    }

.btn-success {
    background-color: #64bc36;
    border-color: #64bc36;
}

    .btn-success:hover {
        color: #fff;
        background-color: #64bc36;
        border-color: #64bc36;
    }

.btn-white {
    background-color: #fff;
    color: #ff214f;
}

    .btn-white:hover, .btn-white:focus {
        color: #ff214f;
    }

/*======================== Buttons Size Css===============================*/
.btn-xs {
    padding: 0rem 1rem;
    line-height: 2rem;
}

.btn-sm {
    padding: 0rem 1.5rem;
    line-height: 2.5rem;
}

.btn-default {
    padding: 0rem 2rem;
    line-height: 2.5rem;
}

.btn-md {
    line-height: 3rem;
    padding: 0rem 2rem;
}

.btn-lg {
    padding: 0rem 2.5rem;
    line-height: 3.5rem;
}

/*======================== Page Inner Tabs Css===============================*/
.nav-tabs {
    border: 0px;
}

    .nav-tabs .nav-link {
        color: #707070;
        background-color: #e5e5e5;
    }

        .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
            border-color: transparent;
        }

        .nav-tabs .nav-link.active {
            color: #222222;
            border-color: #fff;
            font-weight: 600;
        }

            .nav-tabs .nav-link.active i {
                color: #ff214f;
            }

/*======================== Form-Icon Css ===============================*/
.lis-search i {
    position: absolute;
    top: 19px;
    right: 15px;
}

    .lis-search i.fa.fa-crosshairs:hover {
        color: #ff214f;
    }

/*======================== Categories Css ===============================*/
.lis-categories {
    -webkit-transition: 0.4s;
    cursor: pointer;
}

    .lis-categories:hover {
        -webkit-transform: scale(1.06);
        -moz-transform: scale(1.1);
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
    }

    .lis-categories .categories-listing {
        font-size: 14px;
        bottom: -100%;
        transition: all 0.4s;
    }

    .lis-categories:hover .categories-listing {
        bottom: 0;
        visibility: visible !important;
    }

/*======================== Visited Places Css ===============================*/
.lis-id-info {
    background-color: #f0f0f0;
    width: 36px;
    height: 36px;
    line-height: 38px;
}

    .lis-id-info:hover {
        color: #fff;
        background-color: #ff214f;
    }

.slick-slide {
    margin: 0px 15px;
    outline: none;
}

.slick-slide {
    transition: all ease-in-out .3s;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.lis-property-meta .lis-meta-block {
    padding: 15px 0px;
    width: 32%;
}

.lis-post-meta {
    padding: .7em 1.2em;
    line-height: 15px;
}

/*======================== Icon-box Css ===============================*/
.icon-box:hover {
    background: url(../images/hover.png) center top no-repeat;
}

.box-line:before {
    content: "";
    width: 100%;
    position: absolute;
    right: 50%;
    height: 36px;
    top: 0;
}

.box-line-dotted1:before {
    background: url(../images/border-dotted-1.png) center top no-repeat;
}

.box-line-dotted2:before {
    background: url(../images/border-dotted-2.png) center bottom no-repeat;
    top: 30px;
}

/*======================== Price Table Css ===============================*/
.price-table {
    -webkit-transition: 0.3s ease;
}

    .price-table sup, .price-table small {
        font-size: 1.25rem;
    }

    .price-table sup {
        top: -1.5em;
    }

    .price-table.active {
        transform: scale(1.045);
        -webkit-transform: scale(1.045);
    }

/*======================== Home Page 2 Css ===============================*/
/*======================== Categories Css ===============================*/
.lis-icon {
    width: 60px;
    height: 60px;
}

.lis-info:hover {
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(17, 17, 17, 0.8) 100%);
}

/*======================== Masonry Css ===============================*/
.lis-masonry {
    transition: all 0.35s;
}

    .lis-masonry:hover {
        opacity: .9;
    }

#testimonial .quote img {
    top: 38px;
}

/*=============== Back To Top Button =======================*/
.scrollup {
    width: 46px;
    height: 46px;
    position: fixed;
    bottom: 30px;
    left: 15px;
    display: none;
    z-index: 999;
}

    .scrollup:hover {
        color: #fff;
        background-color: #ff214f;
    }

/*=============== Half Screen Page Css=======================*/
/*=============== Left Sidebar =======================*/
.custom-control-indicator {
    border: solid 2px #dadada;
}

.custom-control {
    margin-right: .4rem;
}

.custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}

.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
    border-color: #ff214f;
    background: #ff214f !important;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff214f;
    transition: .28s ease;
}

#ex1Slider .slider-selection, #ex7Slider .slider-selection {
    background: #bababa;
}

#ex6SliderVal:after {
    content: "mi";
    padding-left: 1px;
}

#ex7SliderVal:after {
    content: "m2";
    padding-left: 1px;
}

.custom-checkbox .custom-control-indicator {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.custom-checkbox .custom-control-description {
    padding-left: 5px;
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #ff214f;
    border-color: #ff214f;
}

/*=============== Google Map =======================*/
.map-fixed {
    position: fixed !important;
    top: 0;
}

.left-sidebar {
    box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.17);
}

#ex8SliderVal:after {
    content: "k";
}

.dual-range .slider .hide, .dual-range .slider input, .dual-range .slider {
    display: block !important;
}

.dual-range .ui-widget.ui-widget-content {
    border: 0px;
    padding: 0px;
    background: #dadada;
    height: 3px;
    border-radius: 0px;
}

.dual-range .ui-slider-handle {
    width: 9px;
    height: 9px;
    background: #ff214f;
    border-radius: 50px;
    top: -.2em;
    margin: 0px;
    border-color: #ff214f;
}

.dual-range .ui-widget-header {
    background: #ff214f;
}

/*=============== Listing Shorting =======================*/
.shorting .form-group {
    width: 160px;
}

.filter-btn:focus, .text-btn:focus {
    outline: 0;
}

.filter-btn.collapsed:after, .text-btn.collapsed:after {
    content: "\f055";
    padding-left: 3px;
}

.filter-btn:after, .text-btn:after {
    font-family: 'FontAwesome';
    content: "\f056";
    padding-left: 3px;
}

.text-btn.collapsed:after {
    content: "\f107";
}

.text-btn:after {
    font-family: 'FontAwesome';
    content: "\f106";
    float: right;
}

.form-wrapper {
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/*=============== Listing-Explore-Place-Profile Css =======================*/
.profile-inner {
    padding-top: 267px;
}

.profile-header {
    border-bottom: solid 1px #dadada;
}

.nav-pills .nav-item .nav-link {
    border-radius: 0;
    padding: 0 23px;
    transition: all .2s ease;
}

    .nav-pills .nav-item .nav-link:before {
        content: "";
        height: 30px;
        width: 1px;
        display: inline-block;
        position: absolute;
        left: -15px;
        background-color: #dadada;
    }

.nav-pills .nav-item:last-child .nav-link:before {
    display: none;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: #707070;
}

    .nav-pills .nav-link.active:after {
        content: "";
        border-bottom: solid 3px #ff214f;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -2px;
    }

.cover-btn a {
    display: block;
    padding: .5rem .75rem;
    margin-left: -5px;
    border: 1px solid #dadada;
}

/*=============== Profile Page Css =======================*/
.gallery {
    overflow: hidden;
    transition: all .4s ease;
}

    .gallery .gallery-fade {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .gallery:hover .gallery-fade {
        opacity: 1;
        background-color: rgba(17, 17, 17, 0.7);
    }

.lis-social {
    width: 36px;
    height: 36px;
    transition: .2s ease;
    color: #aaaaaa;
}

    .lis-social:hover {
        background-color: #ff214f;
        border-color: #ff214f !important;
        color: #fff;
    }

/*=============== Reviews Page Css =======================*/
.comment-info .list-inline-item a:before {
    content: "";
    height: 13px;
    width: 2px;
    display: inline-block;
    position: absolute;
    left: -13px;
    background-color: #707070;
    top: 6px;
}

.comment-info .list-inline-item:last-child a:before {
    display: none;
}

/*=============== Explore Event Page Css =======================*/
.lis-countdown-box .lis-timer div:after {
    content: ":";
    position: absolute;
    left: -5px;
    top: 14px;
}

.lis-countdown-box .lis-timer:last-child div:after {
    display: none;
}

/*=============== Calendar =======================*/
.ui-datepicker-next:after {
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 8px;
}

.ui-datepicker-prev:after {
    content: "\f053";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 8px;
}

.lis-product .item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}

    .lis-product .item .thumb img {
        margin: 2px;
    }

/*===============Blog Page Css=======================*/
/*===============Blog breadcrumb Css=======================*/
.breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #707070;
}

/*=============== Blog Listing Page Css=======================*/
.lis-categories-list a, .lis-widget-content a, .lis-page-social a {
    transition: all 0.85s;
}

    .lis-categories-list a:hover, .lis-widget-content a:hover, .lis-page-social a:hover {
        color: #ff214f;
    }

.lis-widget-content img {
    height: 90px;
}

/*=============== Blog Single Page Css=======================*/
.blockquote {
    border-left: solid 3px #dadada !important;
    padding-left: 37px;
}

    .blockquote .blockquote-footer {
        color: #707070;
    }

.btn-reply {
    padding: 7px 17px;
    transition: all 0.85s;
}

    .btn-reply:hover {
        color: #fff;
        background-color: #ff214f;
        border-color: #ff214f !important;
    }

.bookmark {
    background-color: #ff214f !important;
    color: #fff;
}

/*=============== Faq Page Css=======================*/
.list-group .list-group-item:first-child, .list-group .list-group-item:last-child {
    border-radius: 0px !important;
}

.list-group .list-group-item.active {
    background-color: transparent;
    color: #222222;
    font-weight: 500;
}

.list-group .list-group-item-action:hover, .list-group .list-group-item-action:focus {
    background-color: transparent;
}

.faq .card-header a.collapsed:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 6px;
    right: 0px;
    position: absolute;
    margin-left: 10px;
}

.faq .card-header [aria-expanded="true"]:after {
    border-bottom: solid 1px #dadada;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.faq .card-header [aria-expanded="true"]:before {
    font-family: 'FontAwesome';
    content: "\f107";
    padding-right: 6px;
    right: 0px;
    position: absolute;
    margin-left: 10px;
}

/*=============== Error Page Css=======================*/
.error h1 {
    font-size: 200px;
}

/*=============== Coming Soon Page Css=======================*/
#clockdiv .lis-timer div:after {
    content: ":";
    position: absolute;
    right: -9px;
    top: 28px;
    font-size: 40px;
}

#clockdiv .lis-timer:last-child div:after {
    display: none;
}

/*============================= Login / Register ===================== */
#lean_overlay {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 60px;
    background: #FFF;
}

#modal_trigger {
    margin: 40px auto;
    width: 200px;
    display: block;
    border: 1px solid #DDD;
    border-radius: 4px;
}

/* Popup Styles*/
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}

.popupHeader {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

    .popupHeader .modal_close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #E4E4E2;
        cursor: pointer;
        color: #aaa;
        font-size: 16px;
    }

.popupBody {
    padding: 20px;
}

/* User Login Form */
.user_login {
    display: none;
}

    .user_login label {
        display: block;
        margin-bottom: 5px;
        line-height: 14px;
    }

    .user_login input[type="text"],
    .user_login input[type="email"],
    .user_login input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
    }

    .user_login input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }

        .user_login input[type="checkbox"] + label {
            float: left;
        }

    .user_login .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
    }

.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}

/* User Register Form */
.user_register {
    display: none;
}

    .user_register label {
        display: block;
        margin-bottom: 5px;
        line-height: 14px;
    }

    .user_register input[type="text"],
    .user_register input[type="email"],
    .user_register input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
    }

    .user_register input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }

        .user_register input[type="checkbox"] + label {
            float: left;
        }

    .user_register .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
    }

/*==================================  Add Listing =========================*/
.listingtab {
    text-align: center;
    display: block;
}

    .listingtab li {
        float: none;
        display: inline-block;
    }

    .listingtab.nav-tabs .nav-item.show .nav-link, .listingtab.nav-tabs .nav-link.active {
        background-color: #ff214f;
        border-color: #ff214f;
        color: #fff;
    }

        .listingtab.nav-tabs .nav-item.show .nav-link i, .listingtab.nav-tabs .nav-link.active i {
            color: #fff;
        }

/* Customize the label (the container) */
.custom-checkbox {
    position: relative;
    padding-left: 35px;
    line-height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #eee;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background: #ff214f;
    border: 2px solid #ff214f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after, .custom-checkbox input:checked ~ .radiobtn:after {
    display: block;
}

.custom-checkbox .radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #eee;
    border-radius: 50%;
}

.custom-checkbox input:checked ~ .radiobtn {
    border: 2px solid #ff214f;
}

.custom-checkbox .radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox .radiobtn:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff214f;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#us2 {
    height: 400px;
}

.ui-widget.ui-widget-content {
    z-index: 1000 !important;
}

dd {
    margin-right: 0;
}

.footer p {
    color: #aaaaaa;
}

.footer .footer-links a, .footer .footer-social a {
    color: #aaaaaa;
    transition: all .4s ease;
}

    .footer .footer-links a:hover, .footer .footer-social a:hover {
        color: #ff214f;
    }

.footer .footer-bottom {
    border-top: solid 1px rgba(255, 255, 255, 0.7);
}

    .footer .footer-bottom span a:hover {
        color: #ff214f;
    }

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1199px) {
    body {
        font-size: 0.875em;
    }

    .profile-header .nav-pills {
        justify-content: center !important;
    }

    .lis-countdown-box .lis-timer div:after {
        display: none;
    }

    .error h1 {
        font-size: 100px;
    }
}

@media (max-width: 991px) {
    .map-fixed {
        position: relative !important;
        height: 520px !important;
    }

    .container {
        max-width: 100%;
    }

    .box-line:before {
        display: none;
    }

    .header nav.navbar-toggleable-md.navbar-light .navbar-nav .nav-link {
        padding: 1em 0em;
    }

    nav .navbar-nav li.dropdown > .dropdown-menu {
        display: none !important;
        visibility: hidden;
    }

        nav .navbar-nav li.dropdown > .dropdown-menu.show {
            display: block !important;
            visibility: visible;
        }

    .transperant .collapse.show {
        background: #222222;
        padding: 20px;
    }

    .slick-prev {
        left: 45%;
    }

    .slick-next {
        right: 45%;
    }
}

@media (max-width: 767px) {
    .slick-prev {
        left: 40%;
    }

    .slick-next {
        right: 40%;
    }

    .price-table.active {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (max-width: 576px) {
    .slick-prev {
        left: 35%;
    }

    .slick-next {
        right: 35%;
    }

    .card .hover-text.lis-bottom-20 {
        bottom: 10px !important;
    }

    .nav-pills .nav-item .nav-link:before {
        display: none;
    }

    .nav-pills .nav-link.active:after {
        bottom: -1px;
    }

    .lis-property-meta .lis-brd-right {
        border: 0;
    }

    .lis-property-meta .lis-meta-block {
        width: 100%;
    }

    #clockdiv .lis-timer div:after {
        display: none;
    }
}
