﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sexual Assault Awareness</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Global Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/font-awesome-4.7.0/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-3.3.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5aebf498fe77a300116314aa&product=sticky-share-buttons"></script>
</head>
<body id="page-top">
    <!--====================================================
                             HEADER
    ======================================================-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-toggle="affix">
            <div class="container">
                <a class="navbar-brand smooth-scroll" href="@Url.Action("Index","Home")">
                    <img src="~/img/logo2.png" alt="logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            @Html.ActionLink("Get Help", "Decision", "Home", new object { }, new { @class = "nav-link smooth-scroll" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("View Data", "Statistics", "Home", new object { }, new { @class = "nav-link smooth-scroll" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Read News", "News", "Home", new object { }, new { @class = "nav-link smooth-scroll" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Find 24/7 Hospitals", "EmergencyAgency", "Support", new object { }, new { @class = "nav-link smooth-scroll" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <a href="#home-p" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs" title="home" role="button">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--====================================================
                          FOOTER
    ======================================================-->
    <footer>
        <div id="footer-s1" class="footer-s1">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About Us -->
                        <div class="col-md-6 col-sm-6 ">
                            <!--<div><img src="~/img/logo-w.png" alt="" class="img-fluid"></div>-->
                            <ul class="list-unstyled comp-desc-f">
                                <li>
                                    <p>careHer is trying to create awareness about sexual assault in Victoria, Australia. We aim to provide emotional and legal directions for families and friends of a victim. </p>
                                </li>
                            </ul><br>
                        </div>
                        <!-- End About Us -->
                        <div class="col-md-3 col-sm-6 ">
                        </div>
                        <!-- Useful Links -->
                        <div class="col-md-3 col-sm-6 ">
                            <div class="heading-footer"><h2>Useful Links</h2></div>
                            <ul class="list-unstyled link-list">
                                <li>
                                    @Html.ActionLink("About Us", "AboutUs", "AboutUs")
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("Contact Us", "ContactUs", "AboutUs")
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("FAQ", "faq", "AboutUs")
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("Legal Terms", "LegalTerms", "Support")
                                    <i class="fa fa-angle-right"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- End Useful Lists -->
                    </div>
                </div><!--/container -->
            </div>
        </div>
        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="footer-copyrights">
                            <p>
                                Copyrights &copy; careHer, 2018
                                @Html.ActionLink("Disclaimer", "Disclaimer", "Home")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--Global JavaScript -->
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/wow.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <!-- Plugin JavaScript -->
    <script src="@Url.Content("~/js/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
</body>
</html>
