﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Core stylesheets -->
<link rel="stylesheet" href="@Url.Content("~/css/404.css")">

    <!--====================================================
                            PAGE CONTENT
    ======================================================-->
    <section class="hero-area">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="block text-center">
                        <h1 class="animated wow fadeInLeft" data-wow-delay="0.3s" data-wow-duration=".2s">404!</h1>
                        <p class="animated wow fadeInRight" data-wow-delay="0.5s" data-wow-duration=".5s">Oops! something wrong.</p>
                        <div class="animated wow fadeInUp text-center" data-wow-delay="0.7s" data-wow-duration=".7s">
                            <span>
                                @Html.ActionLink("Go to Home", "Index", "Home", new object { }, new { @class = "btn btn-general btn-blue" })
                             </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
