﻿
@{
    ViewBag.Title = "Decision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--loading effect-->
<div class="loading justify-content-center align-items-center" id="loading">
    <div class="lds-heart"><div></div></div>
</div>

<link rel="stylesheet" href="@Url.Content("~/css/services.css")">
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-procedure text-center">
    <div class="container">
        <h1>Get Help</h1>
        <p>
            @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "text-light" }) >> @Html.ActionLink("Get Help", "Decision", "Home", new object { }, new { @class = "text-light" })
        </p>
    </div><!--/end container-->
</div>
<!--====================================================
                       zingtree
======================================================-->
<section>
    <div class="my-3 p-3 rounded box-shadow">
        <iframe width="100%" frameborder="0" seamless src="https://zingtree.com/deploy/tree.php?z=embed&tree_id=502879906&access_key=&style=buttons&persist_names=Restart&persist_node_ids=1"></iframe>
        <script type="text/javascript" src="https://zingtree.com/js/iframeResizerSmart.js"></script>
        <script type="text/javascript">iFrameResize();</script>
    </div>
</section>
<!--====================================================
                      Disclaimer
======================================================-->
<section id="business-growth-p1" class="business-growth-p1 bg-gray">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">Things you need to know</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                    The information provided above has been sourced from <a href="www.legalaid.vic.gov.au" target="_blank">www.legalaid.vic.gov.au</a>
                </p>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>
