﻿
@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--====================================================
                       Banner
======================================================-->
<div id="home-p" class="home-p pages-disclaimer text-center">
    <div class="container">
        <h1>Disclaimer</h1> 
        <p>
            @Html.ActionLink("About Us", "AboutUs", "AboutUs", new object { }, new { @class = "text-light" }) >> @Html.ActionLink("Disclaimer", "Disclaimer", "Home", new object { }, new { @class = "text-light" })
        </p>
    </div>
</div>
<!--====================================================
                       Disclaimer
======================================================-->
<section id="about" class="about">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">Terms and Conditions</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp" data-wow-delay="0.2s">
                    The content on careHer is provided for informative purposes only. No claim is made to the accuracy of the content on this website.
                    The information is provided on the basis that anyone accessing the website is responsible for assessing the accuracy of the information provided.
                </p>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                    careHer is not responsible for further information linked to this site and does not accept liability to any person in relation to the use of the information and advice.
                </p>
                <div class="title-but">
                    @Html.ActionLink("AboutUs", "AboutUs", "AboutUs", new object { }, new { @class = "btn btn-general btn-green" })
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>