﻿<div class="loading justify-content-center align-items-center" id="loading">
    <div class="lds-heart "><div></div></div>
</div>
<link rel="stylesheet" href="@Url.Content("~/css/services.css")">

<!--====================================================
                         Banner
======================================================-->
<section id="home-p">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active slides">
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero ">
                    <hgroup>
                        <h1>
                            We help <span>
                                <a href="" class="typewrite" data-period="2000" data-type='[ " Families", " Friends"]'>
                                    <span class="wrap"></span>
                                </a>
                            </span>
                        </h1>
                        <h3>This website is for families dealing with the implications of a potential sexual offences. Our aim is to help those families to identify if a sexual offence may have occurred, and what steps they can take to seek a legal and emotional remedy in their difficult time.</h3>
                    </hgroup>
                    @Html.ActionLink("Read More", "AboutUs", "AboutUs", new object { }, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================
                        Decision tree
======================================================-->
<!--
<section class="my-3 p-4 rounded">
    <div class="container-fluid">
        <div class="row title-bar ">
            <div class="col-md-12">
                <h1 class="">How can we help?</h1>
                <div class="heading-border"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 desc-comp-offer" data-wow-delay="0s">
                <h2>Legal Support</h2>
                <div class="heading-border-light"></div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" style="cursor:default">
                    <div class="service-item-icon">
                        <i class="fa fa-tasks fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Procedure</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>We help you understand the legal procedures for reporting your case.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" style="cursor:default">
                    <div class="service-item-icon">
                        <i class="fa fa-balance-scale fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Rights</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>We can help you find about the rights that a victim is entitled with.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" style="cursor:default">
                    <div class="service-item-icon">
                        <i class="fa fa-gavel fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Judiciary Law</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>We provide information about judiciary law on the case of sexual assault.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 desc-comp-offer" data-wow-delay="0s">
                <h2>Emotional Support</h2>
                <div class="heading-border-light"></div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" style="cursor:default">
                    <div class="service-item-icon">
                        <i class="fa fa-list-ol fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Tips</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>Few things to remember when providing emotional support to your loved ones.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" style="cursor:default">
                    <div class="service-item-icon">
                        <i class="fa fa-user-md fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Counselling</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>A wide range of counselling services are available. We will help you find one.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item right-bord" style="cursor:default">
                    <div class="service-item-icon">
                        <i class="fa fa-building-o fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Agencies and Hospitals</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>We list out available agencies and hospitals around your local area.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4 wow fadeInUp">
        <div class="title-but main-center">
            @Html.ActionLink("Read More", "Support", "Home", new object { }, new { @class = "btn btn-general btn-green" })
        </div>
    </div>
</section>
    <!--
    <section id="about" class="about">
        <div class="container">
            <div class="row title-bar">
                <div class="col-md-12">
                    <h1 class="">We are here to help you</h1>
                    <div class="heading-border"></div>
                    <p class="" data-wow-delay="0.2s">
                        Sexual offences have far-reaching implications for all families involved. It can often be a very difficult time for a victim and their family to deal with both the legal and emotional trauma that a sexual offence may cause.
                    </p>
                </div>
            </div>
        </div>
        <!--how can we help you?-->
<!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 desc-comp-offer" data-wow-delay="0s">
                <h2>How can we help you?</h2>
                <div class="heading-border-light"></div>
            </div>

            <div class="col-md-3 col-sm-6 desc-comp-offer" data-wow-delay="0.4s">
                <div class="desc-comp-offer-cont">
                    <div class="thumbnail-blogs">
                        <div class="caption">
                            <i class="fa fa-chain"></i>
                        </div>
                        <img src="~/img/news/news-11.jpg" class="img-fluid" alt="...">
                    </div>
                    <h3>Legal Support</h3>
                    <p class="desc">Don't know what to do? Having trouble proceeding with prosecution? We can help you with what to expect from legal bodies.</p>
                    <a href="@Url.Action("LegalSupport","Support")"><i class="fa fa-arrow-circle-o-right"></i> Learn More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 desc-comp-offer" data-wow-delay="0.6s">
                <div class="desc-comp-offer-cont">
                    <div class="thumbnail-blogs">
                        <div class="caption">
                            <i class="fa fa-chain"></i>
                        </div>
                        <img src="~/img/news/news-13.jpg" class="img-fluid" alt="...">
                    </div>
                    <h3>Emotional Support</h3>
                    <p class="desc">We know its hard to see your kids suffer. We can help you in talking with your kids to make them feel confident in talking to you. </p>
                    <a href="@Url.Action("EmotionalSupport","Support")"><i class="fa fa-arrow-circle-o-right"></i> Learn More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 desc-comp-offer" data-wow-delay="0.8s">
                <div class="desc-comp-offer-cont">
                    <div class="thumbnail-blogs">
                        <div class="caption">
                            <i class="fa fa-chain"></i>
                        </div>
                        <img src="~/img/news/news-14.jpg" class="img-fluid" alt="...">
                    </div>
                    <h3>Legal Terms</h3>
                    <p class="desc">Legal terms can be confusing. We focus on simplifying them for you and help you better understand the laws around sexual assault. </p>
                    <a href="@Url.Action("LegalTerms","Support")"><i class="fa fa-arrow-circle-o-right"></i> Learn More</a>
                </div>
            </div>
            </div>
        <div class="row justify-content-center mt-4 wow fadeInUp">
            <div class="title-but main-center">
                @Html.ActionLink("Help me", "Decision", "Home", new object { }, new { @class = "btn btn-general btn-green" })
            </div>
        </div>

    </div>
    <!-- About right side withBG parallax -->
<!--
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 bg-starship">
                    <div class="about-content-box wow fadeInUp" data-wow-delay="0.3s" id="hospital">
                        <i class="fa fa-hospital-o"></i>
                        <h5>Hospitals</h5>
                        <p class="desc">We can help you locate hospitals based on your location.</p>
                    </div>
                </div>
                <div class="col-md-4 bg-chathams" id="agency">
                    <div class="about-content-box wow fadeInUp" data-wow-delay="0.5s">
                        <i class="fa fa-building-o"></i>
                        <h5>Agencies</h5>
                        <p class="desc">We can suggest and locate best agencies to guide you.</p>
                    </div>
                </div>
                <div class="col-md-4 bg-matisse" id="court">
                    <div class="about-content-box wow fadeInUp" data-wow-delay="0.7s">
                        <i class="fa fa-gavel"></i>
                        <h5>Courts</h5>
                        <p class="desc">Almost every Sexual Assault hearing is done in County Court. We can help you find the nearest county court based on your location.</p>
                    </div>
                </div>
            </div>
        </div>

</section>
-->
<!--====================================================
                      Legal Support
======================================================-->
<section id="business-growth-p1" class="business-growth-p1">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="">Legal Support</h1>
                <div class="heading-border"></div>
                <p>
                    Our team is dedicated to provide information on legal procedures, rights, judiciary law and give access to
                    relavant agencies and hospitals.
                </p>
            </div>
        </div>
        <!--icons-->
        <div class="row animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" id="service-procedure">
                    <div class="service-item-icon">
                        <i class="fa fa-tasks fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Procedure</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>We help you understand the legal procedures for reporting your case.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" id="service-rights">
                    <div class="service-item-icon">
                        <i class="fa fa-balance-scale fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Rights</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>We can help you find about the rights that a victim is entitled to.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" id="service-law">
                    <div class="service-item-icon">
                        <i class="fa fa-gavel fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Relevant Laws</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>We provide information about laws concerning sexual assault in Victoria.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item right-bord" id="service-hospitals">
                    <div class="service-item-icon">
                        <i class="fa fa-hospital-o fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Hospitals</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>We can help you find 24/7 available hospitals around your local area.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====================================================
                          Emotional Support
    ======================================================-->

    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1>Emotional Support</h1>
                <div class="heading-border"></div>
                <p>
                    We understand that sexual assault has a different emotional impact on different people. We are here to help provide emotional support for those you care.
                </p>
            </div>
        </div>
        <!--icons-->
        <div class="row animated" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-md-3 col-sm-6 service-padding">

            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" id="service-tips">
                    <div class="service-item-icon">
                        <i class="fa fa-list-ol fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Tips</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>A few things to remember when providing emotional support to your loved ones.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" id="service-counselling">
                    <div class="service-item-icon">
                        <i class="fa fa-user-md fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Counselling</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>A wide range of counselling services are available. We will help you find one that is near you.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">

            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-5 wow fadeInUp">
        <div class="title-but main-center">
            @Html.ActionLink("Help me", "Decision", "Home", new object { }, new { @class = "btn btn-general btn-green" })
        </div>
    </div>
</section>
<!--====================================================
                      Did you know?
======================================================-->
<section class="my-3 p-4 rounded">
    <div class="container-fluid">
        <div class="row title-bar ">
            <div class="col-md-12">
                <h1 class="">Did you know?</h1>
                <div class="heading-border"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="justify-content-center">
                <div class='tableauPlaceholder' id='viz1525406957904' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ye&#47;yearandage&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='yearandage&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ye&#47;yearandage&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                <script type='text/javascript'>var divElement = document.getElementById('viz1525406957904'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '697px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
            </div>
        </div>
        <div class="row justify-content-center mt-4 wow fadeInUp">
            <div class="title-but main-center">
                @Html.ActionLink("Show More", "Statistics", "Home", new object { }, new { @class = "btn btn-general btn-green" })
            </div>
        </div>
    </div>
</section>

<!--====================================================
                       NEWS
======================================================-->
<section class="my-3 p-4 rounded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6  desc-comp-offer" data-wow-delay="0.2s">
                <h2>Latest News</h2>
                <div class="heading-border-light"></div>
                @Html.ActionLink("Show More", "News", "Home", new object { }, new { @class = "btn btn-general btn-green wow fadeInUp" })
            </div>
            @foreach (var item in ViewBag.News)
            {
                <div class="col-md-3 col-sm-6 desc-comp-offer" data-wow-delay="0.4s">
                    <div class="desc-comp-offer-cont" style="cursor:default">
                        <h3>@item.Title</h3>
                        <p class="desc">@item.Description</p>
                        <p><i class="fa fa-clock"></i>@item.PubDate</p>
                        <a href="@item.Link"><i class="fa fa-arrow-circle-o-right"></i> Learn More</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>







<script>
    //news clickable div
    /*$(".desc-comp-offer-cont").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });*/
    //services icon clickable
    $("#service-tips").click(function () {
        var url = '@Url.Action("Decision", "Home")';
        $(location).attr('href', url);
        return false;
    });
    $("#service-counselling").click(function () {
        var url = '@Url.Action("Decision", "Home")';
        $(location).attr('href', url);
        return false;
    });
    $("#service-hospitals").click(function () {
        var url = '@Url.Action("EmergencyAgency", "Support")';
        $(location).attr('href', url);
        return false;
    });
    $("#service-law").click(function () {
        var url = '@Url.Action("Decision", "Home")';
        $(location).attr('href', url);
        return false;
    });
    $("#service-rights").click(function () {
        var url = '@Url.Action("Decision", "Home")';
        $(location).attr('href', url);
        return false;
    });
    $("#service-procedure").click(function () {
        var url = '@Url.Action("Decision", "Home")';
        $(location).attr('href', url);
        return false;
    });
</script>
    
<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>