﻿@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="loading justify-content-center align-items-center" id="loading">    
    <div class="lds-heart "><div></div></div>
</div>
<link rel="stylesheet" href="@Url.Content("~/css/news.css")">

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-news text-center">
    <div class="container">
        <h1>Latest news</h1>
        <p>
            @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "text-light" }) >> @Html.ActionLink("Read News", "News", "Home", new object { }, new { @class = "text-light" })
        </p>
    </div><!--/end container-->
</div>
<!--====================================================
                       News Contents
======================================================-->
<section id="news-p1" class="news-p1">
    <div class="container">
        <div class="row">            
            <div class="card-columns">
                @foreach (var item in ViewBag.listItems)
                {
                    <div class="card">
                        <div class="desc-comp-offer-cont" style="cursor:default">
                            <h3>@item.Title</h3>
                            <p class="desc">@item.Description</p>
                            <p><i class="fa fa-clock"></i>@item.PubDate</p>
                            <a href="@item.Link" target="_blank"><i class="fa fa-arrow-circle-o-right"></i> Learn More</a>
                        </div>
                    </div>
                 }
            </div>            
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>