﻿<script src="http://ajax.microsoft.com/ajax/jQuery/jquery-3.3.1.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/idangerous.swiper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://unpkg.com/popper.js" type="text/javascript"></script>
<link rel="stylesheet" href="../css/idangerous.swiper.css">
<link rel="stylesheet" href="@Url.Content("~/css/faq.css")">
<!--login test-->
<style type="text/css">
    body {
        margin: 0;
        font-family: "microsoft yahei";
        font-size: 13px;
        line-height: 1.5;
        background: #fff;
    }

    .wrap {
        margin-top: 40px;
    }

    .tabs {
        height: 40px;
    }

        .tabs a {
            display: block;
            float: left;
            width: 33.33%;
            color: #000000;
            text-align: center;
            background: #eee;
            line-height: 40px;
            font-size: 16px;
            text-decoration: none;
        }

            .tabs a.active {
                color: #fff;
                background: #333;
                border-radius: 5px 5px 0px 0px;
            }

    .swiper-container {
        background: #fff;
        height: 200px;
        border-radius: 0 0 5px 5px;
        width: 100%;
        border-top: 0;
    }

    .swiper-slide {
        height: 250px;
        width: 100%;
        background: none;
        color: #000000;
    }

    .content-slide {
        padding: 40px;
    }

        .content-slide p {
            text-indent: 2em;
            line-height: 1.9;
        }

    #pagetitle {
        margin-top: 5%;
        margin-left: 36%;
    }

    #selectiongroup1 {
        margin-left: 12%;
    }

    #selectiongroup2 {
        margin-top: 5%;
        margin-left: 12%;
    }

    #tipbutton {
        margin-top: 10px;
        margin-left: 43%;
        height: 36px;
    }



    .selection {
        margin-left: 1%;
    }

    .selecttitle {
        margin-left: 10px;
    }

    #agencygroup {
        margin-left: 32%;
    }

    #searchagency {
        margin-left: 17%;
        margin-top: 40px;
        height: 40px;
    }

    #courtgroup {
        margin-left: 32%;
    }

    #searchcourt {
        margin-left: 17%;
        margin-top: 40px;
        height: 40px;
    }

    .getbutton {
        border: none;
        background: #9bb9c6;
        border-style: unset;
        height: 25px;
        font-style: inherit;
        border-radius: 8px;
        display: inline-block;
        color: #000000;
        margin-left: 0px;

    }

    .form-control {
        margin-left: 5%;
        width: 360px;
    }

    #searchtip {
        height: 40px;
    }
</style>

<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head1 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Search</h1>
        
    </div><!--/end container-->
</div>

<div class="wrap">
    <div class="tabs">
        <a href="#" hidefocus="true" class="active">FAQ</a>
        <a href="#" hidefocus="true">Agency</a>
        <a href="#" hidefocus="true">Court</a>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="content-slide">
                    <div id="r1" class="row">
                        <div class="col-md-12">
                            <div id="selectiongroup1" class="row">
                                <div class="selecttitle"> Victim's Age:</div>
                                <select class="selection" id="s1">
                                    <option value="0">none</option>
                                    <option value="1">Under 18</option>
                                    <option value="2">Over 18</option>
                                </select>
                                <div class="selecttitle">Sexual Assault Category:</div>
                                <select class="selection" id="s2">
                                    <option value="0">none</option>
                                    <option value="1">Sexual assault</option>
                                    <option value="2">Sexual offence</option>
                                    <option value="3">Sexual penetration of the child</option>
                                </select>
                                <div class="selecttitle">When that offence occured:</div>
                                <select class="selection" id="s3">
                                    <option value="0">none</option>
                                    <option value="1">Recent</option>
                                    <option value="2">Past</option>
                                    <option value="3">Both</option>
                                </select>
                            </div>
                            <div id="selectiongroup2" class="row">
                                <div class="selecttitle">Relationship with Victim:</div>
                                <select class="selection" id="s4">
                                    <option value="0">none</option>
                                    <option value="1">Family member</option>
                                    <option value="2">Friend</option>
                                    <option value="3">Both</option>
                                </select>
                                <div class="selecttitle">Report Category:</div>
                                <select class="selection" id="s5">
                                    <option value="0">none</option>
                                    <option value="1">Police</option>
                                    <option value="2">Agency</option>
                                    <option value="3">Both</option>
                                </select>

                            </div>
                            <div id="tipbutton" class="row">
                                <button id="searchtip" class="getbutton">get FAQ now!</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <hr />

                    <div class="container" id="containtip"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="content-slide">
                    <div id="agencygroup" class="col-md-8">
                        <div class="row">
                            <input type="text" class="form-control input-sm" id="codesearch" size="40" placeholder="Find a agency by your postcode" />
                        </div>
                        <div class="row">
                            <button id="searchagency" class="getbutton">get agency now!</button>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <hr />
                </div>
            </div>
            <div class="swiper-slide">
                <div class="content-slide">
                    <div id="courtgroup" class="col-md-8">

                        <div class="row">
                            <input type="text" class="form-control input-sm" id="courtcode" size="40" placeholder="Find cloest court by your postcode" />
                        </div>
                        <div class="row">
                            <button id="searchcourt" class="getbutton">get court now!</button>
                        </div>

                    </div>

                    <br />
                    <hr />
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="progress" class="progress" style="height:30px;width:100%;"><div id="progressbar" class="progress-bar" style="font-size:20px;color:#000000;background:#2b8264;height:30px;width:100%;"></div></div>
<div class="container" id="contain"></div>

<script type="text/javascript">
    var tabsSwiper = new Swiper('.swiper-container', {
        speed: 500,
        onSlideChangeStart: function () {
            $(".tabs .active").removeClass('active');
            $(".tabs a").eq(tabsSwiper.activeIndex).addClass('active');
        }
    });

    $(".tabs a").on('touchstart mousedown', function (e) {
        e.preventDefault()
        $(".tabs .active").removeClass('active');
        $(this).addClass('active');
        tabsSwiper.swipeTo($(this).index());
    });

    $(".tabs a").click(function (e) {
        e.preventDefault();
    });

</script>
<!-------------------------------search for agency------------------------------>
<script type="text/javascript">
    $(document).ready(function () {
        var main = document.getElementById('contain');

        $('#searchagency').click(function () {
            debugger
            var inputcode = document.getElementById("codesearch").value;
            var x = Number(inputcode);
            var y = inputcode.length;
            if (inputcode == "" || isNaN(x)||y!=4) {
                alert("error input!");
                return false;

            }
            //delete previous list
            if (main.hasChildNodes()) {
                var mainchildren = document.getElementById('contain').childNodes;
                var length = mainchildren.length;
                for (var i = 0; i < length; i++) {
                    main.removeChild(mainchildren[0]);
                }
            }

            document.getElementById('progressbar').innerText = 'Loading...';

            //post and get value; !!!!!when we publish it , the ajax should have a relative direction that should be like ../search/searchagency
            $.ajax({

                cache: false,
                type: "POST",
                url: "../Home/SearchAgency",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ code: inputcode }),
                success: function (data) {
                    
                    if (data == '') {

                        alert("nothing found!")
                    }
                    else {

                        if (data != undefined) {
                            $.each(data, function (i, item) {
                                addchild(item.A_name, item.A_pcode, item.A_Address);

                            });

                        }

                    }
                    document.getElementById('progressbar').innerText = 'Complete!!!';


                },
                failure: function (erromsg) {
                    console.log(erromsg);
                    alert(erromsg);
                }

            });


        });

        //to add div for each
        function addchild(title, desc, addr) {
            var childsplit = document.createElement("hr");
            var childsplit2 = document.createElement("br");
            var child1 = document.createElement("div");
            var ccc1 = document.createElement("h4");
            var ccc2 = document.createElement("p");
            var ccc3 = document.createElement("p");
            main.appendChild(child1);
            main.appendChild(childsplit);
            main.appendChild(childsplit2);
            child1.appendChild(ccc1);
            child1.appendChild(ccc2);
            child1.appendChild(ccc3);
            ccc1.innerHTML = "Agency name:" + title;
            ccc2.innerHTML = "Agency postcode:" + desc;
            ccc3.innerHTML = "Agency address:" + addr;
        }


    });
</script>

<!-------------------------------search for court------------------------------>
<script type="text/javascript">
    $(document).ready(function () {
        var main = document.getElementById('contain');

        $('#searchcourt').click(function () {
            debugger
            var inputcode = document.getElementById("courtcode").value;
            var x = Number(inputcode);
            var y = inputcode.length;
            if (inputcode == "" || isNaN(x)||y!=4) {
                alert("error input!");
                return false;

            }
            //delet
            //delete previous list
            if (main.hasChildNodes()) {
                var mainchildren = document.getElementById('contain').childNodes;
                var length = mainchildren.length;
                for (var i = 0; i < length; i++) {
                    main.removeChild(mainchildren[0]);
                }
            }
            document.getElementById('progressbar').innerText = 'Loading...';

            //post and get value; !!!!!when we publish it , the ajax should have a relative direction that should be like ../search/searchagency
            $.ajax({
                cache: false,
                type: "POST",
                url: "../Home/SearchCourt",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ code: inputcode }),
                success: function (data) {
                    if (data == '') {

                        alert("nothing found!")
                    }
                    else {

                        if (data != undefined) {
                            $.each(data, function (i, item) {
                                addchild(item.C_name, item.C_address, item.C_suburb);

                            });

                        }

                    }
                    document.getElementById('progressbar').innerText = 'Complete!!!';



                },
                failure: function (erromsg) {
                    console.log(erromsg);
                    alert(erromsg);
                }

            });
        });

        //to add div for each
        function addchild(name, addr, sub) {
            var childsplit = document.createElement("hr");
            var childsplit2 = document.createElement("br");
            var child1 = document.createElement("div");
            var ccc1 = document.createElement("h4");
            var ccc2 = document.createElement("p");
            var ccc3 = document.createElement("p");
            main.appendChild(child1);
            main.appendChild(childsplit);
            main.appendChild(childsplit2);
            child1.appendChild(ccc1);
            child1.appendChild(ccc2);
            child1.appendChild(ccc3);
            ccc1.innerHTML = "Court name: " + name;
            ccc2.innerHTML = "Address: " + addr;
            ccc3.innerHTML = "Suburb: " + sub;
        }


    });
</script>
<!-------------------------------search for tips------------------------------>
<script type="text/javascript">
    $(document).ready(function () {
        var main = document.getElementById('contain');

        $('#searchtip').click(function () {
            var se1index = document.getElementById('s1').value;
            var se2index = document.getElementById('s2').value;
            var se3index = document.getElementById('s3').value;
            var se4index = document.getElementById('s4').value;
            var se5index = document.getElementById('s5').value;
            var se1 = document.getElementById('s1').options[se1index].text;
            var se2 = document.getElementById('s2').options[se2index].text;
            var se3 = document.getElementById('s3').options[se3index].text;
            var se4 = document.getElementById('s4').options[se4index].text;
            var se5 = document.getElementById('s5').options[se5index].text;
            //delete previous list
            if (main.hasChildNodes()) {
                var mainchildren = document.getElementById('contain').childNodes;
                var length = mainchildren.length;
                for (var i = 0; i < length; i++) {
                    main.removeChild(mainchildren[0]);
                }
            }
            document.getElementById('progressbar').innerText = 'Loading...';

            //post and get value; !!!!!when we publish it , the ajax should have a relative direction that should be like ../search/searchagency
            $.ajax({
                cache: false,
                type: "POST",
                url: "../Home/SearchTips",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ s1: se1, s2: se2, s3: se3, s4: se4, s5: se5 }),
                success: function (data) {
                    if (data == '') {

                        alert("nothing found!")
                    }
                    else {

                        if (data != undefined) {
                            $.each(data, function (i, item) {
                                addchild(item.F_question, item.F_answer, item.F_SA_Cate);

                            });

                        }

                    }
                    document.getElementById('progressbar').innerText = 'Complete!!!';



                },
                failure: function (erromsg) {
                    console.log(erromsg);
                    alert(erromsg);
                }

            });
        });

        //to add div for each
        function addchild(question, answer, cate) {
            var childsplit = document.createElement("hr");
            var childsplit2 = document.createElement("br");
            var child1 = document.createElement("div");
            var ccc1 = document.createElement("h4");
            var ccc2 = document.createElement("p");
            var ccc3 = document.createElement("p");
            main.appendChild(child1);
            main.appendChild(childsplit);
            main.appendChild(childsplit2);
            child1.appendChild(ccc1);
            child1.appendChild(ccc2);
            child1.appendChild(ccc3);
            ccc1.innerHTML = "Q: " + question;
            ccc2.innerHTML = "A: " + answer;
            ccc3.innerHTML = "Category: " + cate;
        }


    });
</script>