﻿

<h2>Lock: you need password to get into this website!!!!!!!!!!!!!!</h2>
<SCRIPT>
    $(document).ready(function () {
        window.onload =  function password() {
            var test = 0;
            var pass1 = null;
            pass1 = prompt('Please enter the password', '');
            while (1) {
                if (pass1 == null) {
                    alert("Access Denied!");
                    pass1 = prompt('Please enter the correct password!', '');
                }
                else if (pass1.toLowerCase() == 'admin') {
                    test = 1;
                }
                else {
                    alert("Incorrect Password!");
                    pass1 = prompt('Please enter the correct password!', '');
                }
                if (test == 1) {
                    alert('Access Granted!');
                    window.location.href = '/home/Index';
                    break;
                }

            }

        }
    });

</SCRIPT>
