﻿
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--loading effect-->
<div class="loading justify-content-center align-items-center" id="loading">
    <div class="lds-heart"><div></div></div>
</div>

<link rel="stylesheet" href="@Url.Content("~/css/services.css")">
<link rel="stylesheet" href="@Url.Content("~/css/faq.css")">
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-statistics text-center">
    <div class="container">
        <h1>View Sexual Assault Statistics of Victoria</h1>
        <p>
            @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "text-light" }) >> @Html.ActionLink("View Data", "Statistics", "Home", new object { }, new { @class = "text-light" })
        </p>
    </div><!--/end container-->
</div>
<!--====================================================
                      Tabs
======================================================-->
<section id="faq-p1" class="team-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-p1-cont">
                    <div class="service-h-tab">
                        <nav class="nav nav-tabs" id="myTab" role="tablist">
                            <a class="nav-item nav-link active" href="#tab1" id="stat1-tab" data-toggle="tab" role="tab" aria-controls="stat1" aria-expanded="true">Age Group</a>
                            <a class="nav-item nav-link" href="#tab2" id="stat2-tab" data-toggle="tab" role="tab" aria-controls="stat2">Location Type</a>
                            <a class="nav-item nav-link" href="#tab3" id="stat3-tab" data-toggle="tab" role="tab" aria-controls="stat3">Location Sub-type</a>
                            <a class="nav-item nav-link" href="#tab5" id="stat5-tab" data-toggle="tab" role="tab" aria-controls="stat5">Victoria Spotlight</a>
                            <a class="nav-item nav-link" href="#tab7" id="stat7-tab" data-toggle="tab" role="tab" aria-controls="stat7">Victim's Relationship</a>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!--vis 1-->
                            <div class="tab-pane fade  show active" role="tabpanel" aria-labelledby="stat1-tab" id="tab1">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="fadeInUp">Female Victim Age Group</h2>
                                            <div class="heading-border-light"></div>
                                            <p>
                                                The following graph shows the age group of female victims around Victoria. It can be observed that teenagers are more prone to sexual assaults.
                                            </p>
                                            <p>
                                                The following statistics is according to the data collected in year 2015 and 2016 by crimestatictics Victoria.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class='tableauPlaceholder' id='viz1524548233842' style='position: relative'><noscript><a href='#'><img alt='Female victims age groups - 2015 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;T5&#47;T5WTMQYRX&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;T5WTMQYRX' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;T5&#47;T5WTMQYRX&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--vis 2-->
                            <div class="tab-pane fade" role="tabpanel" aria-labelledby="stat2-tab" id="tab2">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="fadeInUp">Sexual Assault Incidents By Location Type</h2>
                                            <div class="heading-border-light"></div>
                                            <p>The following graph indicates that females are more prone to sexual assault in residential locations.</p>
                                            <p>
                                                The following statistics is according to the data collected in year 2012-2016 by crimestatictics Victoria.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class='tableauPlaceholder' id='viz1524290555644' style='position: relative'><noscript><a href='#'><img alt='Sexual Assault Incidents by Location Type ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocationType&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;SexualAssaultIncidentsbyLocationType' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocationType&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--vis 3-->
                            <div class="tab-pane fade" role="tabpanel" aria-labelledby="stat3-tab" id="tab3">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="fadeInUp">Sexual Assault Incidents By Location Subtype</h2>
                                            <div class="heading-border-light"></div>
                                            <p>The following graph indicates that females are more prone to sexual assault in dwelling-private residential locations.</p>
                                            <p>
                                                The following statistics is according to the data collected in year 2016 by crimestatictics Victoria.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class='tableauPlaceholder' id='viz1524290614144' style='position: relative'><noscript><a href='#'><img alt='Sexual Assault Incidents by Location Subtype ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocationSubtype&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;SexualAssaultIncidentsbyLocationSubtype' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocationSubtype&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--vis 4-->
                            <div class="tab-pane fade" role="tabpanel" aria-labelledby="stat4-tab" id="tab4">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="fadeInUp">Sexual Assault Incidents By Time</h2>
                                            <div class="heading-border-light"></div>
                                            <p>From this chart, we can see people will be easier to get sexual assault at 6:00pm to 11:59pm and 12:00pm to 5:59pm. Besides, Sunday, Saterday and Monday has high frequency of sexual assault in Victoria.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class='tableauPlaceholder' id='viz1524290636944' style='position: relative'><noscript><a href='#'><img alt='Sexual Assault Incidents by Time ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyTime&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;SexualAssaultIncidentsbyTime' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyTime&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--vis 5-->
                            <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="stat5-tab">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="fadeInUp">Sexual Assault Incidents By Location</h2>
                                            <div class="heading-border-light"></div>
                                            <p>The following graph displays sexual assault incidents reported in different cities of Victoria. It can be concluded that Melbourne has the highest frequency of sexual assault with a total incidents reported to be 659</p>
                                            <p>
                                                The following statistics is according to the data collected in year 2016 by crimestatictics Victoria.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class='tableauPlaceholder' id='viz1526969114250' style='position: relative'><noscript><a href=' '>< img alt='Sexual Assault Incidents by Location ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocation&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;SexualAssaultIncidentsbyLocation' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocation&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--vis 6-->
                            <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="stat6-tab">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="fadeInUp">Offence Subgroup by Suburbs</h2>
                                            <div class="heading-border-light"></div>
                                            <p>From this chart, we can see Melbourne has the highest incidents records in Victoria state in 2017. Besides,A232 Non-FV Common Assault and A212 Non-FV Common Assault is more than other subgroups.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class='tableauPlaceholder' id='viz1524290752801' style='position: relative'><noscript><a href='#'><img alt='Offence Subgroup by Suburbs 2017 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;OffenceSubgroupbySuburbs2017&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;OffenceSubgroupbySuburbs2017' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;OffenceSubgroupbySuburbs2017&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--vis 7-->
                            <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="stat7-tab">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="fadeInUp">Relationship Between Victims And Offenders</h2>
                                            <div class="heading-border-light"></div>

                                            <p>
                                                Description for this chart:
                                                1 Current partner includes spouse, defacto, gay or lesbian domestic partner and boyfriend/girlfriend.
                                                2 Former partner includes former spouse or defacto, former intimate relationship and former boyfriend/girlfriend.
                                                3 Family member includes parent, child, step parent, step child, sibling, other familial relationship and other lineal relationship.
                                                4 Non-family member includes acquaintance, business associate/collegue, co-resident, employer/employee, neighbour and other known person.
                                                5 Includes all victim reports where Relationship of victim to offender is listed as missing or unknown.
                                            </p>
                                            <p>
                                                The following statistics is according to the data collected in year 2016 by crimestatictics Victoria.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class='tableauPlaceholder' id='viz1524290774805' style='position: relative'><noscript><a href='#'><img alt='Relationship between victims and offenders ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;Relationshipbetweenvictimsandoffenders&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;Relationshipbetweenvictimsandoffenders' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;Relationshipbetweenvictimsandoffenders&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================
                      Disclaimer
======================================================-->
<section id="business-growth-p1" class="business-growth-p1 bg-gray">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">Things you need to know</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                    The data for statistics shown above have been obtained from
                    <a href="https://www.crimestatistics.vic.gov.au/">www.crimestatistics.vic.gov.au</a>.
                    A significant degree of information displayed through our statistics is highly sensitive and
                    it may trigger some emotional reaction.
                </p>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1524548233842');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '800px';
    vizElement.style.height = '600px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1524290555644');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '800px';
    vizElement.style.height = '600px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1524290614144');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '800px';
    vizElement.style.height = '600px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);

</script>
<script type='text/javascript'>var divElement = document.getElementById('viz1526969114250');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '800px';
    vizElement.style.height = '600px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1524290636944');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '800px';
    vizElement.style.height = '600px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>






<script type='text/javascript'>
    var divElement = document.getElementById('viz1524290724235');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '800px';
    vizElement.style.height = '600px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1524290752801');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '800px';
    vizElement.style.height = '600px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1524290774805');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '800px';
    vizElement.style.height = '600px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>



<!--====================================================
                    Statistical data
======================================================-->
<!--vis 1
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <div class='tableauPlaceholder' id='viz1524548233842' style='position: relative'><noscript><a href='#'><img alt='Female victims age groups - 2015 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;T5&#47;T5WTMQYRX&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;T5WTMQYRX' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;T5&#47;T5WTMQYRX&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1524548233842'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Female Victim Age Group</h2>
                    <div class="heading-border-light"></div>
                    <p>From the chart, we can see that the group from 15 years old to 19 years old may be more like be victims than other groups in Victoria from 2010 to 2016.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--vis 2
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <div class='tableauPlaceholder' id='viz1524290555644' style='position: relative'><noscript><a href='#'><img alt='Sexual Assault Incidents by Location Type ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocationType&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;SexualAssaultIncidentsbyLocationType' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocationType&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1524290555644'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Sexual Assault Incidents By Location Type</h2>
                    <div class="heading-border-light"></div>
                    <p>From this chart, we can see people will be esaier to get sexual assault in community locations in Victoria from 2013 to 2017. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--vis 3
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <div class='tableauPlaceholder' id='viz1524290614144' style='position: relative'><noscript><a href='#'><img alt='Sexual Assault Incidents by Location Subtype ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocationSubtype&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;SexualAssaultIncidentsbyLocationSubtype' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocationSubtype&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1524290614144'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Sexual Assault Incidents By Location Subtype</h2>
                    <div class="heading-border-light"></div>
                    <p>From this chart, we can see people will be easier to get sexual assault in dwelling-private locations in Victoria.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--vis 4
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <div class='tableauPlaceholder' id='viz1524290636944' style='position: relative'><noscript><a href='#'><img alt='Sexual Assault Incidents by Time ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyTime&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;SexualAssaultIncidentsbyTime' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyTime&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1524290636944'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Sexual Assault Incidents By Time</h2>
                    <div class="heading-border-light"></div>
                    <p>From this chart, we can see people will be easier to get sexual assault at 6:00pm to 11:59pm and 12:00pm to 5:59pm. Besides, Sunday, Saterday and Monday has high frequency of sexual assault in Victoria.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--vis 5
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <div class='tableauPlaceholder' id='viz1524290724235' style='position: relative'><noscript><a href='#'><img alt='Sexual Assault Incidents by Location 2017 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocation2017&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;SexualAssaultIncidentsbyLocation2017' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;SexualAssaultIncidentsbyLocation2017&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1524290724235'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Sexual Assault Incidents By Location</h2>
                    <div class="heading-border-light"></div>
                    <p>From this chart,we can see Melbourne has the highest frequency of sexual assault in Victoria state in 2017. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--vis 6
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <div class='tableauPlaceholder' id='viz1524290752801' style='position: relative'><noscript><a href='#'><img alt='Offence Subgroup by Suburbs 2017 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;OffenceSubgroupbySuburbs2017&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;OffenceSubgroupbySuburbs2017' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;OffenceSubgroupbySuburbs2017&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1524290752801'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Offence Subgroup by Suburbs</h2>
                    <div class="heading-border-light"></div>
                    <p>From this chart, we can see Melbourne has the highest incidents records in Victoria state in 2017. Besides,A232 Non-FV Common Assault and A212 Non-FV Common Assault is more than other subgroups.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--vis 7
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="financial-p6-img">
                    <div class='tableauPlaceholder' id='viz1524290774805' style='position: relative'><noscript><a href='#'><img alt='Relationship between victims and offenders ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;Relationshipbetweenvictimsandoffenders&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='sexualassault_2&#47;Relationshipbetweenvictimsandoffenders' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;sexualassault_2&#47;Relationshipbetweenvictimsandoffenders&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1524290774805'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                </div>
            </div>
            <div class="col-md-6">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Relationship Between Victims And Offenders</h2>
                    <div class="heading-border-light"></div>
                    <p>From this chart, we can see the not known persons will be more like offenders. The family members and current partners is second.</p>
                </div>
            </div>
        </div>
    </div>
</section>
