﻿<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
</style>
<h3>We are going to change UI soon</h3>

@foreach (var item in ViewBag.result)
{
    <h4>@item.Name</h4>

    <p>@item.Text</p>


}
<div id="map"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1KCHr2_t4vZ6zN2ixD9szpnUemuUcii4&callback=initMap"
        async defer></script>

