﻿
@{
    ViewBag.Title = "EmergencyAgency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--loading effect-->
<div class="loading justify-content-center align-items-center" id="loading">
    <div class="lds-heart"><div></div></div>
</div>

<link rel="stylesheet" href="@Url.Content("~/css/news.css")">

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 80%;
        width: 100%;
        position: center;
    }
</style>

<!--====================================================
                       Banner
======================================================-->
<div id="home-p" class="home-p pages-hospital text-center">
    <div class="container">
        <h1>Emergency Hospitals 24/7</h1>
        <p>
            @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "text-light" }) >> @Html.ActionLink("Hospitals", "EmergencyAgency", "Support", new object { }, new { @class = "text-light" })
        </p>
    </div><!--/end container-->
</div>
<!--====================================================
                       Emergency Hospitals
======================================================-->
<!--====================================================
                       test
======================================================-->
<section id="faq-p1" class="team-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-p1-cont">
                    <div class="service-h-tab">
                        <nav class="nav nav-tabs" id="myTab" role="tablist">
                            <a class="nav-item nav-link" href="#tab1" id="stat1-tab" data-toggle="tab" role="tab" aria-controls="stat1" aria-expanded="true">Show with cards</a>
                            <a class="nav-item nav-link" href="#tab2" id="stat2-tab" data-toggle="tab" role="tab" aria-controls="stat2">Show in map</a>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!--vis 1-->
                            <div class="tab-pane fade  show active" role="tabpanel" aria-labelledby="stat1-tab" id="tab1">
                                <div class="container">
                                    <div class="row">
                                        @foreach (var item in ViewBag.emlist)
                                        {
                                            <div class="col-md-4">
                                                <div class="card" style="-webkit-transition:none;transition:none;">
                                                    <div class="desc-comp-offer-cont">
                                                        <h3>@item.ea_name</h3>
                                                        <p class="desc"><i class="fa fa-location-arrow"></i>@item.ea_loc</p>
                                                        <p><i class="fa fa-map-pin"></i>@item.ea_postcode</p>
                                                        <p><i class="fa fa-contao"></i>@item.ea_contact</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!--vis 2-->
                            <div class="tab-pane fade" role="tabpanel" aria-labelledby="stat2-tab" id="tab2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1KCHr2_t4vZ6zN2ixD9szpnUemuUcii4&callback=initMap&language=en&callback=initMap&libraries=places"
        async defer></script>
<div id="map"></div>
<script>
    function initMap() {
        var uluru = { lat: -37.813, lng: 144.963 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru,
            panControl: true,
            zoomControl: true,
        });
        //get my location

        var locationwindow = new google.maps.InfoWindow({ map: map });
        if (navigator.geolocation)
            navigator.geolocation.getCurrentPosition(function (position) {
                var position = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                locationwindow.setPosition(position);
                locationwindow.setContent('<p style="color: #ff0000">' + "You are here"+'</p>');

                map.setCenter(position);
                var mylocation = new google.maps.Marker({
                    position: position,
                    map: map,
                    icon: '../img/people.png'
                });

            });
        else
            alert("OOPS! no gelocation support");




        //get agency info from DB
        $.get("@Url.Action("sourceToMap", "Support")", function (result) {

            if (result != undefined)
                {
            $.each(result, function (i, item) {
                addMarker(item.ea_name,item.ea_loc,item.ea_lat,item.ea_lng,item.ea_contact,item.ea_postcode);
            });
            }
        });
        //add marker for agencise
        function addMarker(name, loc, lat, lng, contact, postcode) {
            var urlimage = '../img/hospital.png';
            var newposition = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
                position: newposition,
                map: map,
                icon: urlimage
            });
            var contentString =
                '<div class="container">' +
                '<h3>'+ name + '</h3>' +
                '<p>' + "address:" + loc + '</p>' +
                '<p>' + "postcode:" + postcode + '</p>' +
                '<p>' + "phone:" + contact + '</p>' +         
                '</div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
                locationwindow.close();
            });
        }
    }
    google.maps.event.addDomListener(window, "load", initMap);
</script>

<script>
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
    });
</script>














<!--====================================================
                       test
======================================================-->

<section class="container-fluid"></section>
