﻿
@{
    ViewBag.Title = "EmotionalSupport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/css/services.css")">
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head2 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Emotional</h1>
        <p>Support</p>
    </div><!--/end container-->
</div>
<!--====================================================
                      Description
======================================================-->
<section id="business-growth-p1" class="business-growth-p1 bg-gray">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">We committed to helping</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                    We understand that sexual assault has different emotional impact on different people. We are here to help you in supporting someone you care on their mental well-being. 
                </p>
            </div>
        </div>
        <!--icons-->
        <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-md-3 col-sm-6 service-padding">
                
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" style="cursor:default">
                    <div class="service-item-icon">
                        <i class="fa fa-list-ol fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Tips</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>Few things to remember when providing emotional support to your loved ones.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">
                <div class="service-item" style="cursor:default">
                    <div class="service-item-icon">
                        <i class="fa fa-user-md fa-3x"></i>
                    </div>
                    <div class="service-item-title">
                        <h3>Counselling</h3>
                    </div>
                    <div class="service-item-desc">
                        <p>A wide range of counselling services are available. We will help you find one.</p>
                        <div class="content-title-underline-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 service-padding">                
            </div>
        </div>
    </div>
</section>
<!--====================================================
                      Disclaimer
======================================================-->
<section id="financial-p6" class="financial-p6">
    <div class="container">
        <div class="row">            
            <div class="col-md-12">
                <div class="financial-p6-cont">
                    <h2 class="wow fadeInUp">Disclaimer </h2>
                    <div class="heading-border-light"></div>
                    <p>
                        The content on careHer is provided for informative purposes only. No claim is made to the accuracy of the content on this website.
                        The information is provided on the basis that anyone accessing the website is responsible for assessing the accuracy of the information provided.
                    </p>
                    @Html.ActionLink("Read More", "Disclaimer", "Home", new object { }, new { @class = "btn btn-general btn-white" })
                </div>
            </div>
        </div>
    </div>
</section>

